@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;600&display=swap');

body {
  margin: 0;
  margin-top: 50px;
 font-family: 'Raleway', sans-serif;
}

header {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    background-color: rgb(192, 211, 211);
}

header * {
    display: inline;
    height: 50px;
}

header ul {
    padding: 0;
    
}

header li {
    margin-left: 20px;
     font-weight: 600;
}

section {
    height: 100vh;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mountain .profile-img {
    width: 300px;
    border-radius: 50%; 
}

footer {
    text-align: center;
    padding: 50px;
}

#mountain h1 {
    font-size: 3em;
}
section h2 {
    font-size: 2.5em;
}
header a {
    text-decoration: none;
    color: black;
}

#serviceList {
    display: flex;
    justify-content: center;
}


#mountain {
   background-image: linear-gradient(rgba(230, 205, 205, 0.418),rgba(255, 255, 255, 0.322)), url('Images/pexels-pixabay-326058.jpg')
}

#about {
    background-image: linear-gradient(rgba(230,205,205,0.418),rgba(255, 255, 255, 0.623)), url('Images/pexels-eric-sanman-1365425.jpg');
}
#contact {
    background-image: linear-gradient(rgba(230,205,205,0.418),rgba(255, 255, 255, 0.623)), url('Images/pexels-quang-nguyen-vinh-2649403.jpg');
}

.container {
    padding-inline: 6rem;
    padding-block: 4rem; 
}
.container {
    background-color: blanchedalmond;
}











































